*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/**Bott Css **/

html,body{
    height: 100%;
}

.img{
    width: 100%;
    max-width: 500px;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33{
    width: 33.3%;
}

.w50{
    padding: 0 10px;
    width: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/**Estilização**/

header{
    background: #3D437A;
    padding: 20px 0;
    
}

header .logo{
    font-size: 23px;
    font-weight: 300;
    text-transform: uppercase;
}

.logo a{
    text-decoration: none;
    color: white;
}

.mobile{
    display: none;
}

nav.desktop{
    display: block;
}

.botao-menu-desktop{
    font-size: 24px;
    cursor: pointer;
    color: white;
}

nav.desktop ul{
    top: 55px;
    z-index: 3;
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    text-align: center;
}

nav.desktop li{
    font-weight: 300;
    width: 100%;
    display: block;
    background: white;
    border-bottom: 1px solid #ccc;
    font-size: 17px;
    padding: 8px 0;
}

nav.desktop a{
    display: block;
    color: #444;
    text-decoration: none;
}

section.banner-principal{
    width: 100%;
    height: 600px;
    background-image: url(../imagens/lobo.jpg);
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(51,51,51,0.4);
}

section.banner-principal form{
    width: 93%;
    max-width: 600px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,50%);
}

section.banner-principal form h2{
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

section.banner-principal form input[type=E-mail]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: white;
    color: #333;
    font-size: 22px;
    padding-left: 10px;
}

section.banner-principal form input[type=submit]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: #00C59E;
    color: white;
    cursor: pointer;
    font-size: 22px;
    border: 0;
}

section.descricao-autor{
    padding: 30px 0;
}

section.descricao-autor h2{
    font-size: 25px;
    font-weight: 300;
    color: #444;
}

section.descricao-autor p{
    font-size: 16px;
    color: #444;
    font-weight: 300;
    margin-top: 40px;
}

section.especialidades{
    padding: 40px 0;
    background: #e2e2e2;
}

section.especialidades h2.title {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: rgb(77, 74, 74);
}

.box-especialidade{
    margin: 40px 0;
    padding: 0 30px;
    text-align: center;
}

.box-especialidade h3{
    color: #404580;
    font-size: 50px;
}

.box-especialidade h4{
    font-weight: 300;
    font-size: 25px;
    color: #5e5151;
}

.box-especialidade p{
    color: #444;
    font-size: 15px;
    margin-top: 10px;
}

section.extras{
    padding: 30px 0;
    background: #404580;
}

.servicos-container,.depoimentos-container{
    padding: 0 50px;
}

section.extras .title{
    color: white;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}

.depoimento-sigle{
    padding: 15px 0;
    border-bottom: 1px solid black;
}

p.depoimento-descricao{
    font-size: 15px;
    color: white;
    font-weight: 300;
}

p.nome-autor{
    font-size: 15px;
    color: white;
    margin-top: 5px;
    font-weight: bold;
}

.servicos ul{
    margin: 20px 0;
    list-style-position: inside;
}

.servicos li{
    margin-bottom: 15px;
    font-size: 15px;
    color: white;
    font-weight: 300;
}

footer{
    background: #313462;
    padding: 30px 0;
}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color:white;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

section.erro-404 h2{
    margin-top: 10px;
    text-align: center;
    color: #444;
    font-weight: 400;
    font-size: 20px;
    border-top: 3px solid #444;
}

section.erro-404 p{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #444;
    font-weight: 300;
}

section.erro-404 a{
    color: #444;
}

.wraper-404{
    transform: translate(-50%,-50%);
    width: 100%;
    left: 50%;
    padding: 0 2%;
    max-width: 1280px;
    text-align: center;
    position: absolute;
    top: 50%;
}

.contato-container{
    padding: 40px 0;
    text-align: center;
}

.contato-container input[type=text]{
    margin: 8px 0;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    max-width: 800px;
    color: #444;
}

.contato-container textarea{
    padding: 8px;
    margin: 8px 0;
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    max-width: 800px;
    resize: vertical;
    color: #444;
}

.contato-container input[type=submit]{
    background: #00C59E;
    width: 140px;
    height: 40px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    img{
        float: none !important;
        display: block;
        margin: 0 auto;  
    }

    .w50{
        padding: 20px;
        width: 100%;
    }

    .w33{
        width: 100%;
        padding: 20px;
    }

    .box-especialidade{
        padding: 40px 20px;
        margin: 0;
    }
}

@media screem and (max-width: 700px){
    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    nav.bota-menu-mobile{
        font-size: 24px;
        cursor: pointer;
        color:white;
    }

    nav.mobile ul{
        top: 55px;
        z-index: 4;
        position: absolute;
        left: 0;
        display: block;
        text-align: center;
    }

    nav.mobile li {
        font-weight: 300;
        width: 100%;
        display: block;
        background: white;
        border-bottom: 1px solid #ccc;
        font-size: 17px;
        padding: 8px 0;
    }

    nav.mobile li a{
        display: block;
        color: #444;
        text-decoration: none;
    }
}
